.idea/
.statsd/
.vscode/
*.swp
*.log
*.log.*

# example
example/example
example/example.test
example/nohup.out
example/recorder/recorder
example/replayer/replayer
example/replayer/replayer.test
example/replayer/example.test
example/replayer/example
example/replayer/sut.pid
example/replayer/sut.log
example/replayer/gocov*
example/replayer/gocov-html
example/replayer/nohup.out

# agent
recorder-agent/agent
recorder-agent/recorder-agent
recorder-agent/agent.log
recorder-agent/agent.pid
replayer-agent/agent
replayer-agent/replayer-agent
replayer-agent/agent.log
replayer-agent/agent.pid
replayer-agent/conf.tar
replayer-agent/template.tar
replayer-agent/replayer-agent.linux
replayer-agent/replayer-agent.mac

vendor/
